<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %}</title>

    {% block style %}{% endblock %}
    <style>
        .important {
            color: #6495ED;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.4.2-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2/sweetalert2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    <header>
        <h1>PASTELARIA ZÉ</h1>
    </header>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{ url_for('index.formListaIndex') }}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{ url_for('cliente.formListaCliente') }}">Clientes</a>
            <a class="nav-item nav-link" href="{{ url_for('funcionario.formListaFuncionario') }}">Funcionários</a>
            <a class="nav-item nav-link" href="{{ url_for('produto.formListaProduto') }}">Produtos</a>
            <a class="nav-item nav-link" href="{{ url_for('login.logoff') }}"><i class="fas fa-door-open"></i> SAIR</a>
        </div>
        </div>
    </nav>

    <div class="container-fluid mt-3">
        {% block content %}{% endblock %}
    </div>

    <!-- monitorar log do navegador, pois a ordem interfere -->
    <script src="{{ url_for('static', filename='jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.maskedinput.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-6.4.2-web/js/all.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert2/sweetalert2.all.min.js') }}"></script>


    <!-- redirect - request.args.get('msg' ou 'msgErro') -->
    {% if request.args.get('msg'): %}
    <script>
        Swal.fire("Sucesso", "{{ request.args.get('msg') }}", "success");
    </script>

    {% elif request.args.get('msgErro'): %}
    <script>
        Swal.fire("Erro", "{{ request.args.get('msgErro') }}", "error");
    </script>

    <!-- render_template - msg ou msgErro -->
    {% elif msg: %}
    <script>
        Swal.fire("ID {{ msg.id }}, {{ msg.msg }} ", "{{ msg }}", "success");
    </script>
    {% elif msgErro: %}
    <script>
        Swal.fire("{{ msgErro.msg if msgErro.msg else 'Erro' }}", "{{ msgErro }}", "error");
    </script>
    {% endif %}


    {% block js %}{% endblock %}
    

    {% if request.args.get('msg'): %}
    <h3>{{ request.args.get('msg') }}</h3>
    <br>
    {% elif msg: %}
    <h3>{{ msg }}</h3>
    <br>
    {% elif request.args.get('msgErro'): %}
    <h3>{{ request.args.get('msgErro') }}</h3>
    <br>
    {% elif msgErro: %}
    <h3>{{ msgErro }}</h3>
    <br>
    {% endif %}

</body>

</html>