<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
</head>

{% extends "base.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<h1>Cliente</h1>
<p class="important">Seja bem vindo!</p>

<ul>
    <li><a href="{{ url_for('cliente.formListaCliente') }}">Home</a></li>
</ul>

<form action="{{ url_for('cliente.formListaCliente') }}" method="POST">
    <h1>Clientes</h1>
    <button type="submit" name="formNovo">Novo Cliente</button>
</form>

<table>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Grupo</th>
            <th scope="col">Senha</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">...</th>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
    </tbody>
</table>

<form name="formAdicionar" id="formAdicionar" action="" method="POST">
    <h1>Cliente</h1>

    <input type="text" name="id" id="id" value="" placeholder="Código" readonly>
    <label for="id">Código</label>
    <br>
    <input type="text" name="nome" id="nome" value="" placeholder="Nome Cliente" maxlength="100" autofocus required>
    <label for="nome">Nome Cliente</label>
    <br>
    <input type="text" name="cpf" id="cpf" value="" placeholder="CPF" maxlength="15" required>
    <label for="cpf">CPF</label>
    <br>
    <input type="tel" name="telefone" id="telefone" value="" placeholder="Telefone" maxlength="15" required>
    <label for="telefone" class="form-label">Telefone</label>
    <br>
    <select name="grupo" id="grupo" aria-label="Grupo">
            <option value="0">Atendente</option>
            <option value="1">Caixa</option>
            <option value="2">Adm</option>
    </select>
    <label for="grupo">Grupo</label>
    <br>
    <input type="password" name="senha" id="senha" value="Bolinhas" placeholder="Senha" required>
    <label for="senha">Senha</label>
    <br>
    <input type="password" name="resenha" id="resenha" value="Bolinhas" placeholder="Senha" required>
    <label for="resenha">reSenha</label>
    <br>
    <button type='submit' name='salvaUsuarioDB' id='salvaUsuarioDB'><i class='fas fa-save'></i> Salvar</button>
</form>
{% endblock %}

</html>