<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %} - AbcBolinhas</title>

    {% block style %}{% endblock %}
    <style>
        .important {
            color: #6495ED;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.4.2-web/css/all.min.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    

</head>

<body>

    {% block menu %}
        <ul>
            <li><a href="{{ url_for('index.formListaIndex') }}">Home</a></li>
            <li><a href="{{ url_for('funcionario.formListaFuncionario') }}">Funcionário</a></li>
            <li><a href="{{ url_for('cliente.formListaCliente') }}">Cliente</a></li>
            <li><a href="{{ url_for('produto.formListaProduto') }}">Produto</a></li>
        </ul>
    {% endblock %}

    <div class="container-fluid mt-3">
        {% block content %}{% endblock %}
        <br><br><br>
    </div>

    {% block footer %}
        &copy; Copyright 2022 by <a href="http://127.0.0.1:8000/">AbcBolinhas</a>.
    {% endblock %}

    {% block js %}{% endblock %}
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fontawesome-free-6.4.2-web/js/all.js') }}"></script>

</body>
</html>