<table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">nome</th>
            <th scope="col">descricao</th>
            <th scope="col">valor_unitario</th>
            <th scope="col">foto</th>
        </tr>
    </thead>

    <tbody>
        {% if result %}
        {% for row in result %}
        <tr>
            <th scope="row"> {{ row['id_produto'] }}</th>
            <td> {{ row['nome'] }}</td>
            <td> {{ row['descricao'] }}</td>
            <td> {{ row['valor_unitario'] }}</td>
            <td> {{ row['foto'] }}</td>
            <td><i class="fas fa-edit"></i></td>
            <td><i class="fas fa-trash"></i></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>