{% extends "base.html" %}

{% block title %}Funcionários{% endblock %}

{% block content %}

<p>
    <a href="{{ url_for('funcionario.formFuncionario') }}" 
        class="btn btn-mini btn-warning" 
        role="button" aria-pressed="true">Criar
    </a>
</p>

<table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Matrícula</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Grupo</th>
            <th scope="col">Senha</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        {% if result %}
        {% for row in result %}
        <tr>
            <th scope="row"> {{ row['id_funcionario'] }}</th>
            <td> {{ row['nome'] }}</td>
            <td> {{ row['matricula'] }}</td>
            <td> {{ row['cpf'] }}</td>
            <td> {{ row['telefone'] }}</td>
            <td> {{ row['grupo'] }}</td>
            <td> {{ row['senha'] }}</td>
            <td><a class="btn btn-mini btn-warning"  href="{{ url_for('funcionario.formEdit', id_funcionario=row['id_funcionario']) }}"><i class="fas fa-edit"></i></a></td>
            <td><a class="btn btn-mini btn-warning"  href="{{ url_for('funcionario.remove_funcionario', id_funcionario=row['id_funcionario']) }}"><i class="fas fa-trash"></i></a></td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}