<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link para um arquivo CSS externo -->
</head>

{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Página não encontrada!</h1>
            <h3>Favor verificar se o endereço digitado está correto.</h3>
        </div>
    </div>

    <figure>
        <img src="{{ url_for('static', filename='Erro404.jpg') }}" alt="Erro 404">
    </figure>

    <div class="row">
        <div class="col">
            {# Mostra a mensagem de erro retornada #}
            <p>{{ erroHttp }}</p>
        </div>
    </div>
</div>
{% endblock %}

</html>